body {
  font-family: 'Bradley Hand ITC', cursive;
  background-color: #f7f5ae;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #fffdf0;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-left: 5px solid #d4af37;
  border-right: 5px solid #d4af37;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  color: #6b6b47;
  font-size: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.hoverItem button {
  padding: 5px 15px;
  flex: 1;
  border-radius: 7px;
  background-color: #fffdf0;  
  font-family: 'Bradley Hand ITC', cursive;
  font-size: 18px;
  border: none;

}

.hoverItem button:hover {
  background-color: #fff9d2;
  
}

.addtodo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.addtodo input{
  padding: 5px;
  font-family: 'Bradley Hand ITC', cursive;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #d4af37;
  background-color: transparent;
  margin-right: 15px;
}

.addtodo button{
  background-color: #ffdf6c;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 18px;
  color: #6b6b47;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Bradley Hand ITC', cursive;
}
.addtodo button:hover{
  background-color: #d8b740;
}
.modinput {
  flex: 1;
  padding: 5px;
  font-family: 'Bradley Hand ITC', cursive;
  font-size: 16px;
  margin-right: 5px;
  border: none;
  border-bottom: 2px solid #d4af37;
  background-color: transparent;
}

.modbutton {
  background-color: #ffdf6c;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 16px;
  color: #6b6b47;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Bradley Hand ITC', cursive;
}

.modbutton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.modbutton:hover:not(:disabled) {
  background-color: #d8b740;
}